{
  "users": [
    // 用户配置示例
    {
      // 用户唯一标识符
      "id": "example-user1",
      // 用户显示名称
      "name": "示例用户1",
      // 用户头像 由后端管理
      "avatar": ""
    },
    {
      "id": "example-user2",
      "name": "示例用户2",
      "avatar": ""
    }
  ]
}